{% load static %}
<footer>
 
  <div class="footer-container">
      <div class="footer-left">
          <p>&copy; 2024 Train. All rights reserved.</p>
      </div>
      <div class="footer-right">
          <ul>
              <li><a href="#">Privacy Policy</a></li>
              <li><a href="#">Terms of Service</a></li>
              <li><a href="#">Support</a></li>
              <li><a href="#" target="_blank">Facebook</a></li>
              <li><a href="#" target="_blank">Twitter</a></li>
              <li><a href="#" target="_blank">LinkedIn</a></li>
          </ul>
          
      </div>
  </div>
</footer>